body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to bottom, #e6f7ff, #c9e2ff); /* Gradient background */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


h1 {
    color: #24557c;
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 10px;
    font-size: 18px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 250px;
    margin-bottom: 20px;
}

button[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #24557c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #1a4366;
    transform: scale(1.05);
}

input[type="submit"]:active {
    transform: scale(0.95);
    transition: transform 0.1s ease;
}
